### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [90]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [91]:
# File to Load (Remember to Change These)
data_source = "purchase_data.csv"

In [92]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(data_source)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Identify if there are missing values
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [5]:
#Display total number of players
players_df = pd.DataFrame(purchase_data["SN"].unique())
players_df = players_df.rename(columns={0: "Total Players"})
players_total = pd.DataFrame(players_df["Total Players"].value_counts())
players_summary = players_total["Total Players"].sum()
print (f"Total Players = {(players_summary)}")

Total Players = 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Obtain Number of Unique Items
items_df = pd.DataFrame(purchase_data["Item ID"].unique())
items_df = items_df.rename(columns={0: "Total Items"})
items_total = pd.DataFrame(items_df["Total Items"].value_counts())
items_unique = items_total["Total Items"].sum()
items_unique

183

In [7]:
#Obtain Average Price
avg_price = purchase_data["Price"].mean() 
avg_price

3.050987179487176

In [8]:
#Obtain Number of Purchases
purchase_total = purchase_data["Purchase ID"].count()
purchase_total

780

In [9]:
#Total Revenue
Revenue = purchase_data["Price"].sum()
Revenue

2379.77

In [10]:
purchase_summary = {"Unique Items":[183], "Average Price":[3.05], "Purchase Volume":[780], "Total Revenue":[2379.77]}
purchase_df = pd.DataFrame (data = purchase_summary)
purchase_df["Average Price"] = purchase_df["Average Price"].map("${0:,.2f}".format)
purchase_df["Total Revenue"] = purchase_df["Total Revenue"].map("${0:,.2f}".format)
purchase_df

   Unique Items Average Price  Purchase Volume Total Revenue
0           183         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
#Filtering by gender "female" 
female_data = purchase_data.loc[purchase_data["Gender"] == "Female"]
female_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [12]:
female_filter = pd.DataFrame(female_data["SN"].unique())
female_count = female_filter[0].count()
female_count

81

In [13]:
individuals = pd.DataFrame(purchase_data["SN"].unique())
individuals_total = individuals[0].count() 
individuals_total

576

In [14]:
female_perc = ((female_count/individuals_total)*100)
female_perc

14.0625

In [15]:
#Filtering by gender "male" 
male_data = purchase_data.loc[purchase_data["Gender"] == "Male"]
male_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [16]:
male_filter = pd.DataFrame(male_data["SN"].unique())
male_count = male_filter[0].count()
male_count

484

In [17]:
male_perc = ((male_count/individuals_total)*100)
male_perc

84.02777777777779

In [18]:
#Filtering by gender "Other / Non-Disclosed" 
otherND_data = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
otherND_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [19]:
otherND_filter = pd.DataFrame(otherND_data["SN"].unique())
otherND_count = otherND_filter[0].count()
otherND_count

11

In [20]:
otherND_perc = ((otherND_count/individuals_total)*100)
otherND_perc

1.9097222222222223

In [21]:
gender_data = {"":["Female", "Male", "Other/Non-Disclosed", "Total"],
              "Total Count":[81, 484, 11, 576],
              "Percentage of Players":[14.06, 84.03, 1.91, 100]}
gender_df = pd.DataFrame(data=gender_data)
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{0:,.2f}%".format)
gender_df

                        Total Count Percentage of Players
0               Female           81                14.06%
1                 Male          484                84.03%
2  Other/Non-Disclosed           11                 1.91%
3                Total          576               100.00%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
fem_purchases = female_data["Purchase ID"].count()
fem_purchases

113

In [23]:
fem_avg_price = female_data["Price"].median()
fem_avg_price

3.45

In [24]:
fem_tot_price = female_data["Price"].sum()
fem_tot_price

361.94

In [25]:
fem_avg_purchPC = (fem_purchases / female_count)
fem_avg_purchPC

1.3950617283950617

In [26]:
fem_purchase_list = [["Female", 113, 1.39, 361.94, 3.45]]
fem_purchase_summary = pd.DataFrame(data=fem_purchase_list, columns=["Gender", "Total Purchases", "Purchase per Capita",
                                                                 "Total Purchase Value", "Avg Purchase Price"])
fem_purchase_summary["Total Purchase Value"] = fem_purchase_summary["Total Purchase Value"].map("${0:,.2f}".format)
fem_purchase_summary["Avg Purchase Price"] = fem_purchase_summary["Avg Purchase Price"].map("${0:,.2f}".format)
fem_purchase_summary

,Gender,Total Purchases,Purchase per Capita,Total Purchase Value,Avg Purchase Price
0,Female,113,1.39,$361.94,$3.45

In [27]:
male_purchases = male_data["Purchase ID"].count()
male_purchases

652

In [28]:
male_avg_price = male_data["Price"].median()
male_avg_price

3.09

In [29]:
male_tot_price = male_data["Price"].sum()
male_tot_price

1967.64

In [30]:
male_avg_purchPC = (male_purchases / male_count)
male_avg_purchPC

1.3471074380165289

In [31]:
male_purchase_list = [["Male", 652, 1.34, 1967.64, 3.09]]
male_purchase_summary = pd.DataFrame(data=male_purchase_list, columns=["Gender", "Total Purchases", "Purchase per Capita",
                                                                 "Total Purchase Value", "Avg Purchase Price"])
male_purchase_summary["Total Purchase Value"] = male_purchase_summary["Total Purchase Value"].map("${0:,.2f}".format)
male_purchase_summary["Avg Purchase Price"] = male_purchase_summary["Avg Purchase Price"].map("${0:,.2f}".format)
male_purchase_summary

,Gender,Total Purchases,Purchase per Capita,Total Purchase Value,Avg Purchase Price
0,Male,652,1.34,"$1,967.64",$3.09

In [32]:
otherND_purchases = otherND_data["Purchase ID"].count()
otherND_purchases

15

In [33]:
otherND_avg_price = otherND_data["Price"].median()
otherND_avg_price

3.45

In [34]:
otherND_tot_price = otherND_data["Price"].sum()
otherND_tot_price

50.19

In [35]:
otherND_avg_purchPC = (otherND_purchases / otherND_count)
otherND_avg_purchPC

1.3636363636363635

In [36]:
otherND_purchase_list = [["Other/Non-Disclosed", 15, 1.36, 50.19, 1.36]]
otherND_purchase_summary = pd.DataFrame(data=otherND_purchase_list, columns=["Gender", "Total Purchases", "Purchase per Capita",
                                                                 "Total Purchase Value", "Avg Purchase Price"])
otherND_purchase_summary["Total Purchase Value"] = otherND_purchase_summary["Total Purchase Value"].map("${0:,.2f}".format)
otherND_purchase_summary["Avg Purchase Price"] = otherND_purchase_summary["Avg Purchase Price"].map("${0:,.2f}".format)
otherND_purchase_summary

,Gender,Total Purchases,Purchase per Capita,Total Purchase Value,Avg Purchase Price
0,Other/Non-Disclosed,15,1.36,$50.19,$1.36

In [37]:
summary_gender1_df = pd.concat([fem_purchase_summary, male_purchase_summary])
summary_gender1_df

,Gender,Total Purchases,Purchase per Capita,Total Purchase Value,Avg Purchase Price
0,Female,113,1.39,$361.94,$3.45
0,Male,652,1.34,"$1,967.64",$3.09

In [38]:
summary_gender2_df = pd.concat([summary_gender1_df, otherND_purchase_summary])
summary_gender2_df

,Gender,Total Purchases,Purchase per Capita,Total Purchase Value,Avg Purchase Price
0,Female,113,1.39,$361.94,$3.45
0,Male,652,1.34,"$1,967.64",$3.09
0,Other/Non-Disclosed,15,1.36,$50.19,$1.36

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [39]:
#Identify min y max
print(purchase_data["Age"].min())
print(purchase_data["Age"].max())

7
45

In [40]:
#Create bins to distribute player by age ranges
bins = [0, 10, 20, 30, 40, 50]

# Create labels for these bins
group_labels = ["0 to 10", "11 to 20", "21 to 30", "31 to 40", "41 to 50"]

In [41]:
#Insert the bins in a new column in the DF
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,11 to 20
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,31 to 40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,21 to 30
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,21 to 30
4,4,Iskosia90,23,Male,131,Fury,1.44,21 to 30

In [42]:
purchase_group = purchase_data.groupby(["Age Range"])
purchase_group["Age Range"].count()

Age Range
0 to 10      32
11 to 20    254
21 to 30    402
31 to 40     85
41 to 50      7
Name: Age Range, dtype: int64

In [43]:
ages_baseline = pd.DataFrame(purchase_data["SN"].unique())
ages_count = ages_baseline[0].count()
ages_count

576

In [44]:
age_range1 = purchase_data.loc[purchase_data["Age Range"] == "0 to 10"]
age_rng1_baseline = pd.DataFrame(age_range1["SN"].unique())
age_range10 = age_rng1_baseline[0].count()
age_range10

24

In [45]:
age_range2 = purchase_data.loc[purchase_data["Age Range"] == "11 to 20"]
age_rng2_baseline = pd.DataFrame(age_range2["SN"].unique())
age_range20 = age_rng2_baseline[0].count()
age_range20

191

In [46]:
age_range3 = purchase_data.loc[purchase_data["Age Range"] == "21 to 30"]
age_rng3_baseline = pd.DataFrame(age_range3["SN"].unique())
age_range30 = age_rng3_baseline[0].count()
age_range30

291

In [47]:
age_range4 = purchase_data.loc[purchase_data["Age Range"] == "31 to 40"]
age_rng4_baseline = pd.DataFrame(age_range4["SN"].unique())
age_range40 = age_rng4_baseline[0].count()
age_range40

63

In [48]:
age_range5 = purchase_data.loc[purchase_data["Age Range"] == "41 to 50"]
age_rng5_baseline = pd.DataFrame(age_range5["SN"].unique())
age_range50 = age_rng5_baseline[0].count()
age_range50

7

In [49]:
range_0to10 = ((age_range10/ages_count)*100)
range_0to10

4.166666666666666

In [50]:
range_11to20 = ((age_range20/ages_count)*100)
range_11to20

33.15972222222222

In [51]:
range_21to30 = ((age_range30/ages_count)*100)
range_21to30

50.520833333333336

In [52]:
range_31to40 = ((age_range40/ages_count)*100)
range_31to40

10.9375

In [53]:
range_41to50 = ((age_range50/ages_count)*100)
range_41to50

1.215277777777778

In [54]:
age_ranges_df = {"Age Range":["0 to 10", "11 to 20", "21 to 30", "31 to 40", "41 to 50", "Total"],
              "Players Count":[24, 191, 291, 63, 7, 576],
              "Percentage of Players":[4.1666, 33.1597, 50.5208, 10.9375, 1.2152, 100]}
age_ranges_summary = pd.DataFrame(data=age_ranges_df)
age_ranges_summary["Percentage of Players"] = age_ranges_summary["Percentage of Players"].map("{0:,.2f}%".format)
age_ranges_summary

  Age Range  Players Count Percentage of Players
0   0 to 10             24                 4.17%
1  11 to 20            191                33.16%
2  21 to 30            291                50.52%
3  31 to 40             63                10.94%
4  41 to 50              7                 1.22%
5     Total            576               100.00%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [73]:
totpurch_0to10 = age_range1["SN"].count()
purch_PC_0to10 = (totpurch_0to10/age_range10)
total_value_0to10 = age_range1["Price"].sum()
avg_price_0to10 = (total_value_0to10/age_range10)

In [74]:
print (f"Purchase value = {(total_value_0to10)}")
print (f"Average Price = {(avg_price_0to10)}")
print (f"Purchase Volume = {(totpurch_0to10)}")
print (f"Purchase per Capita = {(purch_PC_0to10)}")

Purchase value = 108.96000000000001
Average Price = 4.54
Purchase Volume = 32
Purchase per Capita = 1.3333333333333333

In [75]:
data0to10 = [["0 to 10", 108.96, 4.54, 32, 1.33]]
purchsumm_0to10 = pd.DataFrame(data=data0to10, columns=["Age Range", "Purchases Value", "Average Price",
                                                                 "Purchase Volume", "Purchase per Capita"])
purchsumm_0to10["Purchases Value"] = purchsumm_0to10["Purchases Value"].map("${0:,.2f}".format)
purchsumm_0to10["Average Price"] = purchsumm_0to10["Average Price"].map("${0:,.2f}".format)
purchsumm_0to10

,Age Range,Purchases Value,Average Price,Purchase Volume,Purchase per Capita
0,0 to 10,$108.96,$4.54,32,1.33

In [76]:
totpurch_11to20 = age_range2["SN"].count()
purch_PC_11to20 = (totpurch_11to20/age_range20)
total_value_11to20 = age_range2["Price"].sum()
avg_price_11to20 = (total_value_11to20/age_range20)

In [77]:
print (f"Purchase value = {(total_value_11to20)}")
print (f"Average Price = {(avg_price_11to20)}")
print (f"Purchase Volume = {(totpurch_11to20)}")
print (f"Purchase per Capita = {(purch_PC_11to20)}")

Purchase value = 778.16
Average Price = 4.07413612565445
Purchase Volume = 254
Purchase per Capita = 1.3298429319371727

In [78]:
data11to20 = [["11 to 20", 778.16, 4.07, 254, 1.33]]
purchsumm_11to20 = pd.DataFrame(data=data11to20, columns=["Age Range", "Purchases Value", "Average Price",
                                                                 "Purchase Volume", "Purchase per Capita"])
purchsumm_11to20["Purchases Value"] = purchsumm_11to20["Purchases Value"].map("${0:,.2f}".format)
purchsumm_11to20["Average Price"] = purchsumm_11to20["Average Price"].map("${0:,.2f}".format)
purchsumm_11to20

,Age Range,Purchases Value,Average Price,Purchase Volume,Purchase per Capita
0,11 to 20,$778.16,$4.07,254,1.33

In [79]:
totpurch_21to30 = age_range3["SN"].count()
purch_PC_21to30 = (totpurch_21to30/age_range30)
total_value_21to30 = age_range3["Price"].sum()
avg_price_21to30 = (total_value_21to30/age_range30)

In [80]:
print (f"Purchase value = {(total_value_21to30)}")
print (f"Average Price = {(avg_price_21to30)}")
print (f"Purchase Volume = {(totpurch_21to30)}")
print (f"Purchase per Capita = {(purch_PC_21to30)}")

Purchase value = 1203.06
Average Price = 4.134226804123712
Purchase Volume = 402
Purchase per Capita = 1.3814432989690721

In [81]:
data21to30 = [["21 to 30", 1203.06, 4.13, 402, 1.38]]
purchsumm_21to30 = pd.DataFrame(data=data21to30, columns=["Age Range", "Purchases Value", "Average Price",
                                                                 "Purchase Volume", "Purchase per Capita"])
purchsumm_21to30["Purchases Value"] = purchsumm_21to30["Purchases Value"].map("${0:,.2f}".format)
purchsumm_21to30["Average Price"] = purchsumm_21to30["Average Price"].map("${0:,.2f}".format)
purchsumm_21to30

,Age Range,Purchases Value,Average Price,Purchase Volume,Purchase per Capita
0,21 to 30,"$1,203.06",$4.13,402,1.38

In [82]:
totpurch_31to40 = age_range4["SN"].count()
purch_PC_31to40 = (totpurch_31to40/age_range40)
total_value_31to40 = age_range4["Price"].sum()
avg_price_31to40 = (total_value_31to40/age_range40)

In [83]:
print (f"Purchase value = {(total_value_31to40)}")
print (f"Average Price = {(avg_price_31to40)}")
print (f"Purchase Volume = {(totpurch_31to40)}")
print (f"Purchase per Capita = {(purch_PC_31to40)}")

Purchase value = 268.06
Average Price = 4.2549206349206345
Purchase Volume = 85
Purchase per Capita = 1.3492063492063493

In [84]:
data31to40 = [["31 to 40", 268.06, 4.25, 85, 1.35]]
purchsumm_31to40 = pd.DataFrame(data=data31to40, columns=["Age Range", "Purchases Value", "Average Price",
                                                                 "Purchase Volume", "Purchase per Capita"])
purchsumm_31to40["Purchases Value"] = purchsumm_31to40["Purchases Value"].map("${0:,.2f}".format)
purchsumm_31to40["Average Price"] = purchsumm_31to40["Average Price"].map("${0:,.2f}".format)
purchsumm_31to40

,Age Range,Purchases Value,Average Price,Purchase Volume,Purchase per Capita
0,31 to 40,$268.06,$4.25,85,1.35

In [85]:
totpurch_41to50 = age_range5["SN"].count()
purch_PC_41to50 = (totpurch_41to50/age_range50)
total_value_41to50 = age_range5["Price"].sum()
avg_price_41to50 = (total_value_41to50/age_range50)

In [86]:
print (f"Purchase value = {(total_value_41to50)}")
print (f"Average Price = {(avg_price_41to50)}")
print (f"Purchase Volume = {(totpurch_41to50)}")
print (f"Purchase per Capita = {(purch_PC_41to50)}")

Purchase value = 21.529999999999998
Average Price = 3.075714285714285
Purchase Volume = 7
Purchase per Capita = 1.0

In [87]:
data41to50 = [["41 to 50", 21.53, 3.07, 7, 1.0]]
purchsumm_41to50 = pd.DataFrame(data=data41to50, columns=["Age Range", "Purchases Value", "Average Price",
                                                                 "Purchase Volume", "Purchase per Capita"])
purchsumm_41to50["Purchases Value"] = purchsumm_41to50["Purchases Value"].map("${0:,.2f}".format)
purchsumm_41to50["Average Price"] = purchsumm_41to50["Average Price"].map("${0:,.2f}".format)
purchsumm_41to50

,Age Range,Purchases Value,Average Price,Purchase Volume,Purchase per Capita
0,41 to 50,$21.53,$3.07,7,1.0

In [88]:
summ_summ = pd.concat([purchsumm_0to10, purchsumm_11to20, purchsumm_21to30, purchsumm_31to40, purchsumm_41to50])
summ_summ

,Age Range,Purchases Value,Average Price,Purchase Volume,Purchase per Capita
0,0 to 10,$108.96,$4.54,32,1.33
0,11 to 20,$778.16,$4.07,254,1.33
0,21 to 30,"$1,203.06",$4.13,402,1.38
0,31 to 40,$268.06,$4.25,85,1.35
0,41 to 50,$21.53,$3.07,7,1.00

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [223]:
#Select columns required for this analysis
spenders_data = purchase_data[["SN","Purchase ID", "Price"]]
spenders_data.head()

              SN  Purchase ID  Price
0        Lisim78            0   3.53
1    Lisovynya38            1   1.56
2     Ithergue48            2   4.88
3  Chamassasya86            3   3.27
4      Iskosia90            4   1.44

In [224]:
# Group data by player
spenders_group = spenders_data.groupby("SN")

# Count purchases by player
spenders_purchases = pd.DataFrame(spenders_group["Purchase ID"].count())
spenders_purchases.head()

              Purchase ID
SN
Adairialis76            1
Adastirin33             1
Aeda94                  1
Aela59                  1
Aelaria33               1

In [225]:
# sum value of purchases by player
spenders_purchases_value = pd.DataFrame(spenders_group["Price"].sum())
spenders_purchases_value.head()

              Price
SN
Adairialis76   2.28
Adastirin33    4.48
Aeda94         4.91
Aela59         4.32
Aelaria33      1.79

In [226]:
#Merge the volume and value dataframes 
spenders_summary = pd.merge(spenders_purchases_value, spenders_purchases, on="SN")
spenders_summary
spenders_summary.sort_values(["Price"], ascending=False).head(5)

             Price  Purchase ID
SN
Lisosia93    18.96            5
Idastidru52  15.45            4
Chamjask73   13.83            3
Iral74       13.62            4
Iskadarya95  13.10            3

In [227]:
#Add a new column to hold the average purchase price
spenders_summary["Average Purchase Price"] = (spenders_summary["Price"]/spenders_summary["Purchase ID"])
spenders_summary.sort_values(["Price"], ascending=False).head(5)

             Price  Purchase ID  Average Purchase Price
SN
Lisosia93    18.96            5                3.792000
Idastidru52  15.45            4                3.862500
Chamjask73   13.83            3                4.610000
Iral74       13.62            4                3.405000
Iskadarya95  13.10            3                4.366667

In [228]:
#Rename columns
spenders_summary.rename(columns={"SN":"Player ID", "Price":"Purchase Value", "Purchase ID":"Purchase Volume"}, inplace=True)
spenders_summary.sort_values(["Purchase Value"], ascending=False).head(5)

             Purchase Value  Purchase Volume  Average Purchase Price
SN
Lisosia93             18.96                5                3.792000
Idastidru52           15.45                4                3.862500
Chamjask73            13.83                3                4.610000
Iral74                13.62                4                3.405000
Iskadarya95           13.10                3                4.366667

In [229]:
#Format values in columns "Purchase Value" and "Average Purchase Price"
spenders_summary["Purchase Value"] = spenders_summary["Purchase Value"].map("${0:,.2f}".format)
spenders_summary["Average Purchase Price"] = spenders_summary["Average Purchase Price"].map("${0:,.2f}".format)
spenders_summary.sort_values(["Purchase Value"], ascending=False).head(5)

             Purchase Value  Purchase Volume Average Purchase Price
SN
Haillyrgue51          $9.50                3                  $3.17
Phistym51             $9.50                2                  $4.75
Lamil79               $9.29                2                  $4.64
Aina42                $9.22                3                  $3.07
Saesrideu94           $9.18                2                  $4.59

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [282]:
#Dependencies
import pandas as pd
import numpy as np

In [283]:
# File to Load (Remember to Change These)
data_source = "purchase_data.csv"

In [284]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(data_source)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [285]:
#Select columns to work with
items_data = purchase_data[["Item ID", "Item Name", "Price"]]
items_data.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [288]:
# Group data by item
items_group = items_data.groupby("Item Name")

# Count purchases by item
items_purchase_vol = pd.DataFrame(items_group["Item ID"].count())

items_purchase_vol.rename(columns={"Item ID":"Purchase Volume"}, inplace=True) 
items_purchase_vol.head()

                                Purchase Volume
Item Name
Abyssal Shard                                 5
Aetherius, Boon of the Blessed                5
Agatha                                        6
Alpha                                         3
Alpha, Oath of Zeal                           3

In [289]:
# Group data by item
items_group = items_data.groupby("Item Name")

# Count purchases by item
items_purchase_value = pd.DataFrame(items_group["Price"].sum())
items_purchase_value.rename(columns={"Price":"Purchase Value"}, inplace=True) 
items_purchase_value.head()

                                Purchase Value
Item Name
Abyssal Shard                            13.35
Aetherius, Boon of the Blessed           16.95
Agatha                                   18.48
Alpha                                     6.21
Alpha, Oath of Zeal                      12.15

In [320]:
#Consolidate purchase volume and value into one dataframe
##AAA***THIS ALSO ANSWERS THE FINAL REQUEST***AAA### 
items_summary1 = pd.merge(items_purchase_vol, items_purchase_value, on="Item Name")
items_summary1.sort_values(["Purchase Value"], ascending=False).head(5)

                                              Purchase Volume  Purchase Value
Item Name
Final Critic                                               13           59.99
Oathbreaker, Last Hope of the Breaking Storm               12           50.76
Nirvana                                                     9           44.10
Fiery Glass Crusader                                        9           41.22
Singed Scalpel                                              8           34.80

In [321]:
items_summary1["Purchase Value"] = items_summary1["Purchase Value"].map("${0:,.2f}".format)
items_summary1.sort_values(["Purchase Value"], ascending=False).head(5)

                                   Purchase Volume Purchase Value
Item Name
Stormfury Mace                                   2          $9.98
Chaos, Ender of the End                          5          $9.90
Stormfury Longsword                              2          $9.86
The Void, Vengeance of Dark Magic                4          $9.48
Frenzied Scimitar                                6          $9.36

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
###AAA***THIS WAS DONE IN 2 PREVIOUS CELLS***AAA###

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80